main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}

.slideshow-container{
  position: relative;
  width: 100%;
  height: 100%;
  /* transform: rotateX(calc(6deg)) rotateY(calc(3deg)); */
  perspective: 20rem;
  transform-style: preserve-3d;
  transform-origin: center;
}

.slideshow-element{
  position: absolute;
  top: 30%;
  left: 35%;
  width: 30rem;
  height: 19.5rem;
  transition: all .3s linear;
}

.element-current{
  transform: translate3d(-5%, -5%, 0);
  z-index: 9999;
}

.element-previous{
  transform: translate3d(-25%, -5%, -3rem);
  opacity: 0.4;
}

.element-next{
  transform: translate3d(20%, -5%, -3rem);
  opacity: 0.4;
}