main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1024px;
  width: 100%;
  height: 100vh;
}

.slideshow-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  perspective: 20rem;
  transform-style: preserve-3d;
  transform-origin: center;
}

.slideshow-element{
  position: absolute;
  width: 30rem;
  height: 19.5rem;
  transition: all .3s linear;
}

.element-current{
  transform: translate3d(0%, 0%, 0);
  z-index: 9999;
}

.element-previous{
  transform: translate3d(-25%, 0%, -3rem);
  opacity: 0.4;
}

.element-next{
  transform: translate3d(25%, 0%, -3rem);
  opacity: 0.4;
}

.prev{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.next{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}